{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
      <!-- {% for grocery in grocerylists %}
      <p> {{grocery.food.name}}</p>
      <p> {{grocery.food.price}}</p>
      <p> {{grocery.quantity}}</p>
      {% endfor %} -->
    
     <script type="text/javascript">
       $.getJSON('/life/groups/', function(data) {
         
       });
    
    </script>
  
    
    
    
    
    
    
<!--   <table>
   <tr>
     <th>Food</th>
     <th>quantity</th> 
   </tr>
   {% for q in Questions %}
   <tr>
   {% for a in q.question.all %}
       <td>{{q}}</td>
       <td>{{a.answer}}</td>
   {% endfor %}
   </tr>
   {% endfor %}
</table> -->
    
    
    
<!--     <table>
   <tr>
     <th>Question</th>
     <th>Answers</th> 
   </tr>
   {% for q in Questions %}
   <tr>
   {% for a in q.question.all %}
       <td>{{q}}</td>
       <td>{{a.answer}}</td>
   {% endfor %}
   </tr>
   {% endfor %}
</table> -->
      
      

    

	</body>
</html>